@import "tailwindcss";

:root {
  --ivory-light: #fdfbf7;
  --ivory: #f8f3ea;
  --ink: #1f1c19;
  --dark-wenge: #3B3630;
  --wenge: #6b6257;
  --gold: #ab8a1c;
  --beige: #efe6d6;
}

@theme inline {
  --color-ivory-light: var(--ivory-light);
  --color-ivory: var(--ivory);
  --color-ink: var(--ink);
  --color-wenge: var(--wenge);
  --color-dark-wenge: var(--dark-wenge);
  --color-gold: var(--gold);
  --color-beige: var(--beige);
  
  --font-cormorant-garamond: var(--font-cormorant-garamond);
  --font-jost: var(--font-jost);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility section {
  @apply flex flex-col px-4 xl:px-0 py-8 gap-3;
}

@utility container {
  @apply max-w-5xl w-full mx-auto flex;
}

@layer base {
  header {
    @apply fixed bg-ivory-light border-b border-gold top-0 w-full h-15 max-w-screen flex justify-between items-center px-4 z-40;
  }

  main {
    @apply mt-15;
  }

  h2 {
    @apply text-2xl sm:text-3xl text-ink font-cormorant-garamond;
  }

  footer {
    @apply bg-ivory-light border-t border-gold py-10;
  } 
}

@layer components {
  .simple-text {
    @apply text-sm text-wenge max-w-xl text-center;
  }
  
}

body {
  background: var(--ivory-light);
  color: var(--ink);
  font-family: var(--jost);
}
